.create {
  display: none;
  position: relative;
  width: 100%;
  max-width: 603px;
  min-width: 320px;
  height: max-content;
  padding: 7px 0 7px 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #000, inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
  background-color: #fff;
  margin-right: 15px;

  @media (max-width: 767.98px) {
    margin-bottom: 15px;
  }

  &.open {
    display: block;
  }
  
  span {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 14px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}